<div>

  <img
    id="eachMoviePhoto"
    src="{{movie.image}}"
    alt="{{movue.title}} picture"
  />
</div>
<br />
<div id="movieContent">
  <h1>{{movie.title}}</h1>
  <h4>{{movie.director}}</h4>
  Stars:
  {{movie.stars}}
  <br />
  <br />
  {{movie.description}}
  <br />
  {{movie.showtimes}}

</div>